.services ul {
  list-style: circle;
}

.services ul ul {
  margin-left: 1.5rem;
}

.services ol {
  list-style: decimal;
}

.services ol > li {
  margin-bottom: 1rem;
}

[id] {
  scroll-margin-top: 0;
}

@media (max-width: 1439px) {
  [id] {
    scroll-margin-top: -125px;
  }
}
